{% from "dps/components/alert-flag/macro.njk" import alertFlag %}

{% macro alertFlags(alerts, newLine = false) %}
  {% set alertClass %}
    {% if newLine %}
      alerts-list-no-flex
    {% else %}
      alerts-list
    {% endif %}
  {% endset %}
  {% if alerts.length %}
    <ul class={{alertClass}}>
        {% for alert in alerts %}
          <li>{{ alertFlag({ alert: alert }) }}</li>
        {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}
